.section {
    background-color: white;
    margin: 10px 0px;
}

.section__header {
    display: flex;
    border-bottom: 2px solid #eaebeb;
    padding: 10px;
}

@media (max-width: 767px) { 
    .section__header {
        flex-direction: column;
    }
}

.section__title {
    margin: 10px;
    flex-grow: 1;
}

.section__content {
    padding: 20px;
}