.tasks {
    list-style-type: none;
    padding: 0px;
}

.tasks__item {
    display: flex;
    align-items: center;    
    border-bottom: 2px solid #eaebeb;
    padding: 10px;
}

.tasks__item--hide {
    display: none;
}

.tasks__content {
    flex-grow: 1;
    font-size: 18px;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button {
    min-width: 35px;
    min-height: 35px;
    border: none;
    font-size: 20px;
    color: white;
    transition: 1s;
}

.tasks__button--done {
    margin-right: 10px;
    background-color: #197b1e;
}

.tasks__button--done:hover {
    background-color: hsl(123, 66%, 39%);
}

.tasks__button--remove {
    margin-left: 10px;
    background-color: #ec273e;
}

.tasks__button--remove:hover {
    background-color: hsl(353, 84%, 64%);
}