html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-color: #eaebeb;
  margin: 0 auto;
  max-width: 1000px;
  font-family: "Lato", sans-serif;
  overflow-wrap: anywhere;
}

@media (max-width: 1000px) {
  body {
      margin: 0 15px;
  }
}